@font-face{
    font-family: 'MyFont' ;
    src: url("../imgs/CaviarDreams.ttf");
}

header{
    box-sizing: border-box;
    padding: 5px;
    height: 30vh;
    width: 100%;
    background-image: url('../imgs/back.jpg');
    background-size: 100% 100%;
    /* background: rgb(192,200,242);
    background: -moz-linear-gradient(0deg, rgb(148 ,159 ,218), 0%, rgb(71, 108 ,206) ,34%, rgb(2, 15, 31, 0.76) 100%);
    background: -webkit-linear-gradient(0deg, rgb(148 ,159 ,218), 0%, rgb(71, 108 ,206) ,34%, rgb(2, 15, 31, 0.76) 100%);
    background: linear-gradient(0deg, rgb(148 ,159 ,218), 0%, rgb(71, 108 ,206) ,34%, rgb(2, 15, 31, 0.76) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0c8f2",endColorstr="#135cb9",GradientType=1);
 */

}
h1{
    box-sizing:border-box;
    margin: 1% 1% 1% 10%;
    font-family: MyFont ;
    font-size: 200%;
    color: rgb(255, 255, 255);
    width: 89%;
    display: inline-block;
}
section{
    text-align: center;
}
h2{
    font-family: MyFont;
    font-size: 150%;
    margin-bottom: 5%;
}
 nav{
text-align: right;
width: 100%;
float: right;
} 
 nav a{
    display: inline-block;
    padding: .8%;
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
} 
nav a:hover{
    background-color: rgba(255, 255, 255, 0.411);
}

#About,#Contact,#Education, #Experience{
    display: block;
    margin:4% 2% 4% 2%;
    border: solid .5px rgba(128, 180, 185, 0.75); 
        padding: 1%;
        background-color: rgba(255, 255, 255,0.7);
        border-radius: 10px;
}
body{
    box-sizing: border-box;
    height: 100vh;  
    width: 100vw;
}
main{
      align-items: center;
}
p{
    text-align: justify;
}
footer{
    clear: both;
    text-align: right;
    background-color: rgb(5 ,20 ,27);
    /* min-height: calc(20vh - 45px); */
    height: 10vh;

}
footer a{
    display: inline-block;
    margin-top: 1%;
    margin-right: 2%;
    
    color: rgb(255, 255, 255);
}
footer p{
    display: inline-block;
    margin-top: 1%;
    margin-right: 20%;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 80%;
}

ul{
    margin-left: 10%;
    text-align: left;
    list-style: circle;
        
}
@media all and (min-width:500px){
    #About,#Contact,#Education, #Experience{
        display: inline-block;
        width: 45%;
        float: left;
        margin: 1%;
        border: solid .5px rgba(128, 180, 185, 0.75); 
            padding: 1%;
            background-color: rgba(255, 255, 255,0.7);
            border-radius: 10px;
    }
}


